<div class="container">
    <app-header></app-header>
    <div class="main-head-cont">
        <div class="header">
            <div class="head-div">
                <h3 class="head-text">
                Sodi Logistics
            </h3>

            <p class="text-cont">Sodi Logistics along with its sister company Thokozile transport is a startup Logistics company based in KwaZulu Natal with a National service route. Due to the time constraints of the projects, I decided to use a template to produce a quality, responsive product on time.</p>
            </div>
        </div>
        <div class="stack-container">
            <div class="type">
                <p class="type-title">Type</p>
                <ul>
                    <li>Managment Services</li>
                </ul>

            </div>
            <div class="stack">
                <p class="type-title">Stack</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>GIT</li>
                </ul>
            </div>
            <div class="live">
                <p class="type-title">Live</p>
                <ul>
                    <li class="site"><a target="_blank" href="https://www.sodilogistics.co.za/">Site</a></li>
                </ul>
            </div>
        </div>
        <div class="hero-container">
            <img class="hero-image" src="/assets/sodi.png">

        </div>
        <!-- <div class="arrow">
            <mat-icon>arrow_downward</mat-icon>
        </div> -->

        <div class="proj-proposal">
            <h2 class="proposal-head">Project Purpose and Goal</h2>
            <p>There wasn't a brief from the client regarding the design, layout or anything about the site. They said they only needed an online presence to increase their appeal as a startup and attract more customers.</p>
        </div>
        <div class="problems">
            <h2 class="problem-head">Problems and Thought Process</h2>
            <p>
                For this project, I didn't have much in the way of problems. All I needed to do was find the right design to suit the client's needs. Secondly, I got free images to use to portray the services offered as the company was new and didn't have any of its own.
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>