<div class="cont">
  <div class="navi" >
    <h3>Masixole Matolweni</h3>
    
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>

  </div>
  

<div class="topnav" id="myTopnav">
    <a class="inverted-5" href="#home">Home</a>
    <a class="inverted-5" href="#About">About</a>
    <a class="inverted-5" href="#Projects">Projects</a>
    <a class="inverted-5" href="#contact">Contact</a>
    <a target="_blank" href="https://drive.google.com/file/d/1KZ47CH_hruvz_lLrmGWwhUwNGSwlYegj/view?usp=sharing" class="inverted-5">Resume</a>

   
</div>
</div>
  