.cont {
  display: flex;
  position: relative;
  padding-top: 20px;
  background-color: #121e27;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.topnav {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #121e27;
  z-index: 9999999;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 50px;
}

.navi {
  display: flex;
  justify-content: center;
  gap: 100px;
}



.navi .icon {
  display: none;
  text-decoration: none;
  color: white;
  z-index: 9999999;

}

.Hiddennav {
  display: none;
}


/* .topnav {
    overflow: hidden;
    position: relative;
    justify-content: center;
    z-index: 99999999;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  
  }
.cont {
  background: #121e27;
}

  h3 {
    padding-top: 15px;
    text-align: center;
    color: white;
  }
  
  .topnav a {
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    
  }
  
  .topnav a.active {

    color: white;
  }
  
  .topnav .icon {
    display: none;
  } */
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:active) {
      display: none;
      color: white;
    }
    .navi a.icon {
      float: right;
      display: block;
     
    }
  }

  @media screen and (max-width: 280px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: green;
    }

    .cont {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* nav animation */

  .inverted-5 {
        background: left/var(--_p,0%) no-repeat,
        linear-gradient(#0000 40%, #ff715b 0 60%, #0000 0) left/var(--_p,0%) no-repeat,
        #000;
        -webkit-background-clip: text, padding-box, text;
        background-clip: text, padding-box, text;
        transition: 0.8s
    }
  .inverted-5:hover {
    --_p: 100%;
  }
