<div class="container">
    <app-header></app-header>
    <div class="main-head-cont">
        <div class="header">
            <div class="head-div">
                <h3 class="head-text">
                    Recipe Site
                </h3>

            <p class="text-cont">This page/application was learning in progress, from understanding margins, padding, positioning, flex etc. it all started with random coloured div elements with Ipsum lorem text then I got hungry and thought about deserts then all of a sudden I was creating a page to share one of my favorite foods.</p>
            </div>
        </div>
        <div class="stack-container">
            <div class="type">
                <p class="type-title">Type</p>
                <ul>
                    <li>Information</li>
                </ul>

            </div>
            <div class="stack">
                <p class="type-title">Stack</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>GIT</li>
                </ul>
            </div>
            <div class="live">
                <p class="type-title">Live</p>
                <ul>
                    <li class="site"><a target="_blank" href="https://myrecipe-site.netlify.app/">Site</a></li>
                </ul>
            </div>
        </div>
        <div class="hero-container">
            <img class="hero-image" src="/assets/recipe.png">

        </div>
        <!-- <div class="arrow">
            <mat-icon>arrow_downward</mat-icon>
        </div> -->

        <div class="proj-proposal">
            <h2 class="proposal-head">Project Purpose and Goal</h2>
            <p>The goal was to solidify my understanding of margins and get familiar and comfortable using flexbox.</p>
        </div>
        <div class="problems">
            <h2 class="problem-head">Problems and Thought Process</h2>
            <p>One problem I had with this project was having to use a lot of manual properties to move things around. It feels like trial and error. I believe it's not best practice and that there are more efficient ways to get elements positioned accordingly. To achieve the side-by-side look, I used <span>Flex</span>, understanding that the elements will be next to each other. The next step would be to resize and then add a z-index property to place one element over the other. And then add margins to move it into position.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>