<div class="container">
    <app-header></app-header>
    <div class="main-head-cont">
        <div class="header">
            <div class="head-div">
                <h3 class="head-text">
                    Ayashisa Amateku
                </h3>

            <p class="text-cont">Ayashisha Amatetu is vernacular and translates to hot shoes/kicks. Wanting to build a full-stack application I thought it’d be cool to incorporate my passion for Jordan 1 sneakers into my project. The project is a work in progress and the goal is to have a MEAN stack application.</p>
            </div>
        </div>
        <div class="stack-container">
            <div class="type">
                <p class="type-title">Type</p>
                <ul>
                    <li>E-commerce </li>
                </ul>

            </div>
            <div class="stack">
                <p class="type-title">Stack</p>
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>git</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div class="live">
                <p class="type-title">Live</p>
                <ul>
                    <li class="site"><a target="_blank" href="https://ayashisamateku.netlify.app/">Site</a></li>
                </ul>
            </div>
        </div>
        <div class="hero-container">
            <img class="hero-image" src="/assets/Estore.png">

        </div>
        <!-- <div class="arrow">
            <mat-icon>arrow_downward</mat-icon>
        </div> -->

        <div class="proj-proposal">
            <h2 class="proposal-head">Project Purpose and Goal</h2>
            <p>The goal is to create a fully functional full-stack application to solidify my learning.</p>
        </div>
        <div class="problems">
            <h2 class="problem-head">Problems and Thought Process</h2>
            <p>I have attempted a full-stack application like this before. At the time, I can admit to being in tutorial purgatory and purely coding along. I barely had any problems I couldn't tackle without going back to the tutorial. With this project, I’m going off of my own knowledge, documentation and stack overflow for when I run into any problem. 
                <br><br>
                The first phase, the User Interface is complete ( I will do further refinements to the styling and layout later ). The next phase of the project is implementing a backend, As previously stated the application will be a MEAN stack and I need to get familiar with Mongo and Express. I have already started creating clusters and learning how to use my CLI to start up Mongo. The next step is understanding how to use relationships from there, create my schema then use Node to communicate with Mongo.
                <br><br>
                It’s still a rough thought process and can change as I further the tools I want to use.
                </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>