<!-- https://youtu.be/9pqTfAiV_80 -->
<app-header></app-header>
<div class="container">
    
    <div class="main-head-cont">
        <div class="header">
            <div class="head-div">
                <h3 class="head-text">
                Mountain View Child Care Society
            </h3>

            <p class="text-cont">The management system was a combination of all my personal and formal learning. The tech stack was a little unconventional from the norm, this was because of time constraints and to accommodate other team members learning abilities. It was also my first Lead role which came with its fair share of hurdles.</p>
            </div>
        </div>
        <div class="stack-container">
            <div class="type">
                <p class="type-title">Type</p>
                <ul>
                    <li>Managment Services</li>
                </ul>

            </div>
            <div class="stack">
                <p class="type-title">Stack</p>
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Bootstrap</li>
                    <li>GIT</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div class="live">
                <p class="type-title">Live</p>
                <ul>
                    <li class="site"><a target="_blank" href="https://mountainviewchildcare.netlify.app/">Site</a></li>
                </ul>
            </div>
        </div>
        <div class="hero-container">
            <img class="hero-image" src="/assets/mountainview.png">

        </div>
        <!-- <div class="arrow">
            <mat-icon>arrow_downward</mat-icon>
        </div> -->
        <div class="presentations">
            <iframe height="400" width="500"    
                src="https://www.youtube.com/embed/9pqTfAiV_80 ">   
            </iframe>      
            <iframe height="400" width="500"    
                src="https://www.youtube.com/embed/XJZjQ_fZrEQ ">   
            </iframe>
        </div>
        <div class="proj-proposal">
            <h2 class="proposal-head">Project Purpose and Goal</h2>
            <p>Our client, the Organisation of Africa United, has embarked on a national project to support Early Child Development centres funded by the Department of Social Development. This Project aims to improve access to ECDs across the country while providing quality and efficient services to society. Our client is in need of a system that will not only provide access but will also allow all parties that are needed to make Early Child Development a success to get involved, interact and participate more efficiently and effectively <br><br> We have identified the main actors for the ECDC system, which are the Parent, ECD teacher, ECD Manager, Regional Coordinator and Provincial Liaison.</p>
            <div class="links">
                <a target="_blank" href="https://docs.google.com/presentation/d/1OU1AIVcpj5tOxT8yVlDJ_1tnWTqGM7ts/edit?usp=sharing&ouid=117252873463844103304&rtpof=true&sd=true">Storyboard</a>
                <a target="_blank" href="https://docs.google.com/presentation/d/1fLJAvEUK8PMRKRbu7IejNSckUZ4TTZBx/edit?usp=sharing&ouid=117252873463844103304&rtpof=true&sd=true">Project Overview</a>
            </div>
            
        </div>
        <div class="problems">
            <h2 class="problem-head">Problems and Thought Process</h2>
            <p>We opted for a web app as opposed to a desktop app as the majority of group members were familiar with web tech. For the framework/library, I had suggested Angular as I had been learning it for a while and because it was an MVC framework I felt it wouldn’t be too hard to pick up as they already were familiar with working with the .NET framework. The idea being that we should step out of our comfort zones and expand the tools and adapt to new challenges.
                <br><br>
                Unfortunately by the end, what was supposed to be a 5 man task was a 2 man product. Admittedly my project lead/team leader debut was not a smashing success but I learned a lot in the process. Such as adopting different managerial styles, multi-tasking, and time management to name a few. Coding wise, not being a native backend developer and wanting to not miss my milestones, I had to take insecure shortcuts such as passing ID information from the database using local storage. <br><br>
                Another problem was uploading images to my database to have more detailed profile cards for all users. Not being very good with PHP I was looking to use a firebase real-time database to keep images and use it to serve them when needed.
            </p>
        </div>

        <div class="lesson">
            <h2 class="lesson-head">Lessons Learned/Moving Foward</h2>
            <p>As previously stated, I learned a lot of soft skills during the project. In this section, I will be focusing on hard skills. My takeaways were understanding how to pass data between components using ViewChild or Input decorator. Protecting paths using Auth guard to ensure no user has access to restricted pages and using services and directives to create more dynamic HTML markup.
                <br><br>
                I’m currently learning how to use MongoDB, The goal would be to implement it in this project and showcase the full project and not just the landing information site.
                <br><br>
               
            </p>
        </div>
    </div>
    
</div>
<app-footer></app-footer>