<body>
<section class="landing">
    <app-header></app-header>
    <div class="cont">
        <div class="landing-container">
            <div class="h1-div">
                <h1>Hi, I'm Masixole | <span class="underline--magical">Frontend</span> <span class="underline--magical" >Developer</span></h1>
            </div>
            
            <div class="social-icons">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30px" heigth="30px"><path class="icons" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" heigth="30px" viewBox="0 0 24 24"><path class="icons" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" heigth="30px" viewBox="0 0 24 24"><path class="icons" d="M13.718 10.528c0 .792-.268 1.829-.684 2.642-1.009 1.98-3.063 1.967-3.063-.14 0-.786.27-1.799.687-2.58 1.021-1.925 3.06-1.624 3.06.078zm10.282 1.472c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-5-1.194c0-3.246-2.631-5.601-6.256-5.601-4.967 0-7.744 3.149-7.744 7.073 0 3.672 2.467 6.517 7.024 6.517 2.52 0 4.124-.726 5.122-1.288l-.687-.991c-1.022.593-2.251 1.136-4.256 1.136-3.429 0-5.733-2.199-5.733-5.473 0-5.714 6.401-6.758 9.214-5.071 2.624 1.642 2.524 5.578.582 7.083-1.034.826-2.199.799-1.821-.756 0 0 1.212-4.489 1.354-4.975h-1.364l-.271.952c-.278-.785-.943-1.295-1.911-1.295-2.018 0-3.722 2.19-3.722 4.783 0 1.73.913 2.804 2.38 2.804 1.283 0 1.95-.726 2.364-1.373-.3 2.898 5.725 1.557 5.725-3.525z"/></svg>
            </div>
            <div class="landing-text">
                <p class="test">I love exploring and creating 🚀 I'm a lifelong learner 🎓 and I might have a thing for traditional Neapolitan Pizza 🍕</p>
            </div>
        </div>
            
    </div>
    

</section>
<section class="about">
   <div class="about-container">
    <div class="hero-image">
        <div class="skills-head">
            <h3 class="animated-link half-highlight">My <a>Skills</a></h3>
        </div>
        <img class="hero" src="/assets/Masixole.jpg">
    </div>
    <div class="about-text">
        <div class="chips">
            <button class="chip-block" mat-raised-button>Angular</button>
            <button class="chip-block" mat-raised-button>C#</button>
            <button class="chip-block" mat-raised-button>JavaScript</button>
            <button class="chip-block" mat-raised-button>Python</button>
            <button class="chip-block" mat-raised-button>HTML</button>
            <button class="chip-block" mat-raised-button>MySQL</button>
            <button class="chip-block" mat-raised-button>CSS</button>
            <button class="chip-block" mat-raised-button>GIT</button>
            <button class="chip-block" mat-raised-button>Bootstrap</button>
            <button class="chip-block" mat-raised-button>GIT</button>
            <button class="chip-block" mat-raised-button>.NET</button>
            <button class="chip-block" mat-raised-button>Django</button>
            <button class="chip-block" mat-raised-button>PHP</button>
            <button class="chip-block" mat-raised-button>Wordpress</button>
            <button class="chip-block" mat-raised-button>TypeScript</button>
        
        </div>
        <h2>I love building stuff 👨‍💻</h2>
        <p>
            I started playing with computers when I was around 15 years-old. At the time, it was all about video games until I discovered code which set me on an incredible journey of learning. Currently im a freelance Angular developer with future aspirations of venturing into animation, 3D and using incredible tech like ThreeJS.
        </p>
    
    </div>
   </div>
</section>
<section class="projects">
    <div class="project-container">
        <div class="project-description">
            <div class="proj-head">
                <h3 class="animated-link half-highlight"><a>Projects</a></h3>
            </div>

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Mountain View Child Society</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>Angular</button>
                <button class="chip-block" mat-raised-button>JavaScript</button>
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>PHP</button>
                <button class="chip-block" mat-raised-button>GIT</button>
                <button class="chip-block" mat-raised-button>MySQL</button>
                <button class="chip-block" mat-raised-button>JavaScript</button>
                <button class="chip-block" mat-raised-button>TypeScript</button>
            </div>

            <div class="btns">
                <a [routerLink]="['MountainView']" class="btn" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">As a group of 5 developers, we were tasked to come up with a program that would help a local ECDC (Early Childhood Development Center) manage general operations and handle administrative tasks. The result is an Angular application allowing for new learner applications, tests, reporting, teacher allocations etc.</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['MountainView']">
                <img class="proj-img" src="assets/mountainview.png">
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-description">

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Ayashisa Amateku</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>Angular</button>
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>GIT</button>
                <button class="chip-block" mat-raised-button>JavaScript</button>
                <button class="chip-block" mat-raised-button>TypeScript</button>
            </div>

            <div class="btns">
                <a class="btn" [routerLink]="['Estore']" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">Inspired by an earlier e-commerce project I worked on whilst learning Python, this store is created using Angular. At the moment, the application has no backend. The purpose of its addition is to showcase my ability to build and style..</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['Estore']">
                <img class="proj-img" src="assets/Estore.png">
            </a>
        </div>
    </div> 

    <div class="project-container">
        <div class="project-description">

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Flexbox Game</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>Angular</button>
                <button class="chip-block" mat-raised-button>JavaScript</button>
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>GIT</button>
            </div>

            <div class="btns">
                <a class="btn" [routerLink]="['Flexbox']" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">Based on extensive meme research and countless hours laughing at other developers pain. I identified the most challenging thing for developers, mostly the ones in backend. And no its no flipping a binary tree, it’s centering a &lt;div&gt;. I wanted to create a friendly reminder of how to center a div🙃.</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['Flexbox']">
                <img class="proj-img" src="assets/flexbox.png">
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-description">

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Color Picker</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>Angular</button>
                <button class="chip-block" mat-raised-button>JavaScript</button>
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>GIT</button>
            </div>

            <div class="btns">
                <a class="btn" [routerLink]="['ColorPicker']" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">With this project, I was playing around with the JavaScript concepts I was learning. Those concepts being string interpolation, DOM manipulation and directives. Initially, it was supposed to toggle between light and dark mode. However, I ended up playing around with the code, passing in different colours and the result was a colour-picking application.</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['ColorPicker']">
                <img class="proj-img" src="assets/ColorPick.png">
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-description">

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Sodi Logistics</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>GIT</button>
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>Bootstrap</button>
            </div>

            <div class="btns">
                <a class="btn" [routerLink]="['Sodi']" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">I built this page for a friend who runs a logistics company. Although it’s created using a boilerplate/template, I’m proud of the outcome. It was my first client as a freelance developer, and they were happy with their website.</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['Sodi']">
                <img class="proj-img" src="assets/sodi.png">
            </a>
        </div>
    </div>

    <div class="project-container">
        <div class="project-description">

            <div class="proj-text-head">
                <h4 class="proj-role">Full Stack Developer/Team Lead</h4>
                <h5 class="proj-name">Recipe Site</h5>
            </div>

            <div class="proj-stack">
                <button class="chip-block" mat-raised-button>CSS</button>
                <button class="chip-block" mat-raised-button>HTML</button>
                <button class="chip-block" mat-raised-button>GIT</button>
            </div>

            <div class="btns">
                <a class="btn" [routerLink]="['Recipe']" mat-raised-button>View Project</a>
                <a class="al" mat-raised-button>View Project</a>
            </div>

            <div class="proj-description">
                <p class="desc">This project was one of the first pages I made and was the beginning of my journey to becoming a Front-end/Angular developer. A simple HTML and CSS page, It’s nothing fancy but was a great milestone in my development.</p>
            </div>


        </div>
        <div class="proj-hero">
            <a [routerLink]="['Recipe']">
                <img class="proj-img" src="assets/recipe.png">
            </a>
        </div>
    </div>

    
</section>

<app-footer></app-footer>
</body>